* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12121A;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  margin: 8rem;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button {
  background-color: #12121A;
  border: 2px solid white;
  padding: .5rem;
  font-family: 'IBM Plex Mono';
  font-weight: bold;
  text-align: center;
  outline: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #12121A;
}

input, textarea {
  background-color: #12121A;
  border: 2px solid white;
  padding: .5rem;
  font-family: 'IBM Plex Mono';
  font-weight: bold;
  text-align: center;
  outline: none;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 100;
  line-height: 1em;
}

h2 {
  font-size: 4rem;
  font-weight: lighter;
  opacity: .25;
  text-align: center;
  line-height: 1em;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

h4 {
  background-color: white;
  color: #12121A;
  padding: .5rem;
}

h6 {
  font-weight: normal;
  opacity: .25;
  text-align: center;
  padding-top: .25rem;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  padding-right: 8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-img {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#red {
  color: #963636;
  border: 3px solid #963636;
}

#red:hover {
  background-color: #963636;
  color: #12121A;
}

::selection {
  background-color: rgba(150, 54, 54, 0.99);
  color: white;
}
