#desktop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::placeholder {
  color: black;
  -webkit-text-stroke: 1px gray;
}

input {
  background-color: black;
  color: black;
  border: none;
  caret-color: white;
  width: 100%;
}

input:focus {
  outline: none;
}

.post {
  margin: 0 auto;
  width: 70%;
  border-bottom: 1px solid white;
}

.post > h1 {
  padding-bottom: 1rem;
}

#progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.5em;
  border-bottom: 1px solid white;
}

#progress {
  background-color: white;
  height: 100%;
}

#p1, #p2, #p3, #p4, #p5 {
  position: absolute;
}

#p1, #p3 {
  left: 2em;
}

#p1, #p2, #p5 {
  top: 2em;
}

#p2, #p4 {
  left: 50%;
}

#p3, #p4 {
  bottom: 2em;
}

#p5 {
  right: 2em;
}

#about {
  width: 40%;
}
