#mobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#emoji-container {
  pointer-events: none;
  z-index: 1000;
}

@keyframes emoji-transition {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

.emoji {
  position: absolute;
  animation: emoji-transition 3s ease forwards;
  width: 3rem;
  height: 3rem;
  background-size: contain;
}

.emoji.one {
  background-image: url("assets/thumbs-up.png");
}

.emoji.two {
  background-image: url("assets/heart.png");
}

.emoji.three {
  background-image: url("assets/heart-eyes.png");
}

.emoji.four {
  background-image: url("assets/100.png");
}

#shake-button {
  position: absolute;
  bottom: 3em;
  left: 1em;
  font-size: 1.5em;
  padding: 1rem;
  display: none;
}

@media only screen and (min-width: 700px) {
  #shake-button {
    display: block;
  }
}

#prompt {
  font-size: 15vw;
}

#p5, #p1 {
  position: absolute;
  font-size: 1.5em;
  top: 1em;
}

#p1 {
  left: 1em;
}

#p5 {
  right: 1em;
}

#reset, #total-counter {
  position: absolute;
  font-size: 1.5em;
  bottom: 1em;
}

#reset {
  right: 1em;
  text-decoration: underline;
  cursor: pointer;
}

#total-counter {
  left: 1em;
}
