#tablet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 2em;
}

#timer, #done {
  position: absolute;
  top: 1.5em;
}

#done {
  right: 1.5em;
  display: none;
}

#done > a {
  text-decoration: none;
}

#subtext {
  position: absolute;
  bottom: 1.5em;
}

#canvas {
  width: 75%;
  height: 75%;
  position: absolute;
}

#p1, #p5 {
  position: absolute;
  top: 1.5em;
}

#p1 {
  left: 1.5em;
}

#p5 {
  right: 1.5em;
}
