@media print {
  html, body {
    background-color: white;
    color: black;
    height: auto;
  }

  #wrapper {
    display: block;
\  }

  #wrapper > p {
    line-height: .4em;
  }

  #result {
    display: block;
    font-family: "Suisse Works";
    font-style: italic;
    width: 100%;
    font-size: 3.5em;
    line-height: 1.1em;
  }

  #prompt-top, #prompt-bottom {
    display: none;
  }

  code {
    font-family: "Suisse Int'l Mono";
    display: block;
    /* padding-bottom: 0.5em; */
  }

  #logo {
    height: 3em;
    display: block;
    padding: 0.25em 0 1.5em 0;
  }

  #instruction {
    display: none;
  }
}
