/* GLOBAL STYLES */

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

::selection {
  background-color: rgba(255, 255, 255, 0.99);
  color: white;
  -webkit-text-stroke: 1px black;
}

html,
body {
  height: 100%;
  background-color: black;
}

h1,input {
  font-family: serif;
  font-weight: normal;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 10em;
  line-height: 0.8em;
  font-style: italic;
}

h2 {
  font-family: sans-serif;
  font-weight: normal;
  color: white;
  font-size: 2.5em;
}

a {
  color: inherit;
  cursor: pointer;
}
