#title {
  line-height: 1em;
}

#title-num {
  font-size: 12em;
  line-height: .95em;
  word-break: break-all;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

@media only screen and (max-width: 360px) {
  #title-num {
    font-size: 10em;
  }
}

#title-sub {
  padding-top: 1em;
}

#nav-hint {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  animation: 1s ease-out 2.5s 1 hint;
  animation-fill-mode: forwards;
  z-index: 10;
}

#x2 {
  animation-delay: 2s;
}

#nav-hint > div {
  border: 1px dashed red;
}

#nav-hint h5 {
  padding: 1em;
}

@keyframes hint {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
