html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "Oroban";
  src: url("Oroban-ElegansItalic.woff2") format("woff2"),
}

@font-face {
  font-family: "Surt";
  src: url("Surt-Regular.woff2") format("woff2"),
}

#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left, #middle, #right {
  width: 33.3333%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#adverb, #adjective, #noun {
  font-family: "Oroban";
  font-size: 6em;
}

h1 {
  font-size: 24px;
  font-family: "Surt";
  line-height: .9em;
  font-weight: normal;
  display: inline;
}

a {
  cursor: pointer;
}

a>h1:hover {
  text-decoration: underline;
}

#copy, #reroll, #credit, #party, #normal {
  position: absolute;
  padding: 0px 15px;
}

#copy {
  top: 0;
  left: 0;
}

#reroll {
  top: 0;
  right: 0;
}

#credit {
  bottom: 0;
  left: 0;
  color: black;
}

#party, #normal {
  bottom: 0;
  right: 0;
}

#normal {
  display: none;
}

#rainbowBG {
  display: none;
}

::selection {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 780px) {
  #left, #middle, #right {
    width: 100%;
    height: 33.3333%;
  }

  #wrapper {
    flex-direction: column;
  }
}
