html, body {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: 'Fragment Mono', monospace;
  text-align: center;
  color: white;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.color {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gradient-colorA {
  display: block;
  padding-bottom: 80vh;
}

.gradient-colorB {
  display: block;
  transform: translateY(-3em);
}

span {
  mix-blend-mode: difference;
}

#info {
  pointer-events: none;
  position: absolute;
  display: block;
  width: calc(100% - 1em);
  background-color: black;
  padding: 0.5em;
  bottom: 0;
}

#copied {
  display: none;
}

#new {
  font-size: 0.8em;
  vertical-align: super;
  color: #fe2e2e;
}